/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.menu-item {
    min-width: 30px;
    width:14%;
}

nav ul.dropdown-content li a {
    font-size: 12px;
}

.purple_color {
    background-color: #840f31
}

nav a.button-collapse {
    display: flex;
    justify-content:center;
    align-items:center
}

@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: none;
    }
}

#button_left, #button_right {
    position: absolute;
    top:50%;
    margin-top: -35px;
    z-index: 9999;
}

#button_right {
    left:100%;
    margin-left: -30px;
}

ul.slides li h3 {
    -webkit-text-stroke: 1px #ffc107;
}