/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav ul li {
    min-width: 30px;
    width:14%;
}

nav ul.dropdown-content li a {
    font-size: 12px;
}

#logo {
    margin-left: 50px;
    width: 85px
}
#logo_text {
    margin-left: 10px;
    height : 60px
}

.purple_color {
    background-color: #840f31
}