/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.menu-item {
    min-width: 30px;
    width:14%;
}

nav ul.dropdown-content li a {
    font-size: 12px;
}

.purple_color {
    background-color: #840f31
}

nav a.button-collapse {
    display: flex;
    justify-content:center;
    align-items:center
}

@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: none;
    }
}

#button_left, #button_right {
    position: absolute;
    top:50%;
    margin-top: -35px;
    z-index: 9999;
    opacity: 0.8;
    cursor:pointer;
}

#button_left:hover, #button_right:hover {
    opacity: 1.0;
}

#button_right {
    left:100%;
    margin-left: -30px;
}

@font-face {
    font-family: 'webfont';
    src: url('/fonts/siyuanhei/webfont.eot'); /* IE9*/
    src: url('/fonts/siyuanhei/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/siyuanhei/webfont.woff') format('woff'), /* chrome、firefox */
    url('/fonts/siyuanhei/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/fonts/siyuanhei/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

@font-face {
    font-family: 'webfont2';
    src: url('/fonts/siyuanhei2/webfont.eot'); /* IE9*/
    src: url('/fonts/siyuanhei2/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/siyuanhei2/webfont.woff') format('woff'), /* chrome、firefox */
    url('/fonts/siyuanhei2/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/fonts/siyuanhei2/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

body {
    font-family:"webfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.slides li h3 {
    -webkit-text-stroke: 1px #840f31;
    font-family:"webfont" !important;
    font-size:50px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider .slides li .caption p {
    color:#fff;
    -webkit-text-stroke: 0.3px #840f31;
    font-family:"webfont2" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tabs .tab a {
    font-size: 22px;
    color:rgba(132, 15, 49, 0.7)
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #840f31
}